.left-sidebar {
    width: 20%;
    max-width: 180px;
    min-width: 150px;
    background-color: #FBF7F4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.left-sidebar img {
    width: 80%;
    filter: invert(1);
    margin-top: 40px;
    pointer-events: none;
}

.left-sidebar .menu-dekstop {
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0;
}

.left-sidebar .menu-dekstop a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: .9rem;
    display: inline-block;
    width: 100%;
}

.left-sidebar .menu-dekstop a li {
    padding: 10px 20px;
    margin-bottom: 10px;
    transition: .4s ease-in-out;
}

.left-sidebar .menu-dekstop .category-list {
    height: 40vh;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.left-sidebar .menu-dekstop .category-list::-webkit-scrollbar {
    display: none;
}

.left-sidebar .menu-dekstop .category-list a{
    text-align: center;
    margin-bottom: 10px;
    transition: .4s ease-in-out;
}

.left-sidebar .menu-dekstop .category-list a:hover{
    background-color: #f7f1ec;
}

.left-sidebar .menu-dekstop .contacts {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: .9rem;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition: .4s ease-in-out;
}

.left-sidebar .menu-dekstop .contacts .icon {
    margin-right: 10px;
}

.left-sidebar .menu-dekstop a li:hover {
background-color: #EEE6E2;
}

.left-sidebar .menu-dekstop a li .icon {
    margin-right: 10px;
}

.left-sidebar .left-sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-sidebar .left-sidebar-bottom a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
    transition: .4s ease-in-out;
}

.left-sidebar .left-sidebar-bottom a p {
    font-size: .8rem;
    font-weight: bold;
}

.left-sidebar .left-sidebar-bottom a .icon {
    margin-right: 10px;
    background-color: #1C1C1C;
    color: white;
    padding: 8px 8px 8px 10px;
    border-radius: 50%;
}

.left-sidebar .left-sidebar-bottom a:hover {
    opacity: .6;
}